*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
	background-color: orange;
}

.navbar-brand{
  font-size: 35px;
  color: purple;
  padding-left: 25px;
}

.navbar-brand:hover{
	color: black;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid purple;
	margin-right: 25px;
}

.icon-bar{
	background-color: purple;
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: orange;
  font-size: 50px;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: aqua;
	border-bottom: 2px solid orange;
	color: purple;
	display: block;
}

.menu-item:hover{
	background-color: black;
	color: black;
}
.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: whitesmoke;
	background-color: tomato;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	
}
#top{
    color: yellow;
}
#top:hover{
    color: black;
}

